$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    // max-width: 730px;
    // max-width: 1300px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  /* Create Piano Menu*/
  $piano-color: #2F4F55;
  html{
    height:100%;
    position:relative
  }
  body{
    height:100%; /* force the BODY element to match the height of the HTML element */
  }
  #homepage {
    position: absolute;
    width: 95%;
    margin-left: -2000px;
    background-color: lightgrey;
  }
  #piano-menu {
    position: absolute;
    display: table;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lightgrey;
    width: 80%;
    height: 100%;
    margin: auto;
    ul {
      display: table-row;
      background-color: grey;
      li {
        display: table-cell;
        background-color: $piano-color;
        color: white;
        width: 200px;
        text-align: center;
        vertical-align: middle;
        a {
          color: white;
        }
        &.piano-gutter {
        width: 5px;
        background-color: transparent;
      }

      }
    }
  }
  #side-menu{
    position: fixed;
    right: -50px;
    top: 50%;
    margin-top: -71px;
    list-style: none;
    .side-menu-item {
      padding-top: 10px;
    }
    img {
      border: solid 1px white;
      border-radius: 10px;
    }
  }
}
